.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.title {
  margin: 3px;
}

.controlWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.controlButton {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  font-size: 12px;

  &:hover {
    background-color: var(--white-20per);
  }
}

.row {
  display: flex;
}

.body {
  margin: 10px 0;
}

.item {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  font-size: 13px;
  width: 22px;
  height: 22px;
}

.dateItem {
  @extend .item;

  .uppedCursor {
    cursor: pointer;
  }

  .today {
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px var(--blue-20);
  }

  .selected {
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px var(--white-70per);
  }

  &:hover {
    border-radius: 5px;
    box-shadow: 0 0 0 1.5px var(--white-70per);
  }
}
