.container {
  z-index: var(--top);
  position: absolute;
  bottom: 4px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  background: var(--white-70per);
  backdrop-filter: blur(20px);
  border: 1px solid var(--white-40per);
  display: flex;
  padding: 8px 5px 14px 5px;
  border-radius: 20px;
}

.menuItemWrapper {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menuItemTitle {
  display: none;
  position: absolute;
  top: -40px;
  width: 60px;
  text-align: center;
  padding: 5px;
  background-color: var(--gray-50);
  border-radius: 8px;
  font-size: 13px;

  &::after {
    border-color: var(--gray-50) transparent;
    border-style: solid;
    border-width: 6px 8px 0 6px;
    content: "";
    display: block;
    position: absolute;
    bottom: -6px;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    z-index: 1;
  }
}

.menuItemTitleIsHover {
  display: block;
}

.menuItemIcon {
  width: 50px;
  height: 50px;
  border-radius: 10px;
  margin: 0 6px;
  cursor: pointer;
  background-color: transparent;
  background-size: 100%;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
  }
}
