.container {
  position: absolute;

  border-radius: 8px;
  overflow: hidden;

  border: 1px solid var(--gray-50);

  &.isFull {
    width: 100%;
    height: calc(100% - 105px);
    left: 0px;
    top: 25px;
  }
}

.header {
  width: 100%;
  height: 30px;
  background-color: var(--gray-10);
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid var(--gray-50);
  -webkit-touch-callout: none;
  user-select: none;

  &.absoluteHeader {
    z-index: var(--absoluteHeader);
    position: absolute;
    top: 0;
    background-color: var(--transparent);
    border: none;
  }
}

.body {
  width: 100%;
  height: calc(100% - 30px);
  border-radius: inherit;
}

.circle {
  border-radius: 100%;
  width: 13px;
  height: 13px;
  display: flex;
  justify-content: center;
  background-color: var(--red-10);
  cursor: pointer;
  position: absolute;
  left: 15px;
}

.circleIcon {
  position: relative;
  display: none;
  top: 50%;
  font-size: 10px;
  transform: translateY(-50%);

  &.isHover {
    display: unset;
  }
}

.setter {
  position: absolute;
  z-index: calc(var(--absoluteHeader) + 1);
  background-color: transparent;
}

.topSetter {
  @extend .setter;

  top: 0;
  width: 100%;
  height: 4px;
  cursor: n-resize;
}

.bottomSetter {
  @extend .setter;

  bottom: 0;
  width: 100%;
  height: 4px;
  cursor: s-resize;
}

.rightSetter {
  @extend .setter;

  right: 0;
  width: 4px;
  height: 100%;
  cursor: e-resize;
}

.leftSetter {
  @extend .setter;

  left: 0;
  width: 4px;
  height: 100%;
  cursor: w-resize;
}

.rbSetter {
  @extend .setter;

  right: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: se-resize;
}

.lbSetter {
  @extend .setter;

  left: 0;
  bottom: 0;
  width: 10px;
  height: 10px;
  cursor: sw-resize;
}

.rtSetter {
  @extend .setter;

  right: 0;
  top: 0;
  width: 10px;
  height: 10px;
  cursor: ne-resize;
}

.ltSetter {
  @extend .setter;

  left: 0;
  top: 0;
  width: 10px;
  height: 10px;
  cursor: nw-resize;
}
