.container {
  display: flex;
  height: calc(100% + 30px);
}

.sideBarWrapper {
  position: relative;
  padding: 30px 10px 0 10px;

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: var(--white-70per);
    backdrop-filter: blur(15px);
  }
}

.sideBarCategory {
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  color: var(--gray-90);
  margin: 5px 0;
}

.sideBarItem {
  cursor: pointer;
  padding: 5px;
  border-radius: 8px;
  margin: 2px 0;

  &.isFocused {
    background-color: var(--gray-20per);
    font-weight: 600;
  }

  &:hover {
    background-color: var(--gray-20per);
  }
}

.widthSetter {
  position: absolute;
  right: -5px;
  top: 0;
  height: 100%;
  width: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: e-resize;
}

.bodyWrapper {
  width: 100%;
}

.header {
  width: 100%;
  height: 30px;
  background-color: var(--gray-30);
  display: flex;
  justify-content: center;
  align-items: center;
}

.body {
  height: calc(100% - 30px);
  background-color: var(--gray-20);
}

.cardList {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-direction: column;
  padding: 15px;
  gap: 15px;
}

.cardWrapper {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-items: center;

  &.isRow {
    flex-direction: row !important;
  }
}

.cardWrapperIcon {
  width: 80px;
  height: 80px;
  border-radius: 20px;
  margin-right: 15px;
}

.cardWrapperTitle {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 10px;
}

.cardWrapperSubTitle {
  font-size: 15px;
  font-weight: 400;
}

.cardWrapperDate {
  color: var(--gray-70per);
  margin: 5px 0 10px 0;
  display: flex;
  align-items: center;
}

.cardWrapperDateIcon {
  width: 15px;
  height: 15px;
  margin-right: 4px;
}

.cardWrapperLinks {
  position: absolute;
  right: 0;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardWrapperLink {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  border-radius: 10px;
  border: 2px solid var(--black);
  overflow: hidden;
  cursor: pointer;
  img {
    width: 100%;
  }
}

.cardWrapperTags {
  width: fit-content;
  display: flex;
  gap: 10px;
  white-space: nowrap;
  flex-wrap: wrap;
}

.tag {
  font-weight: bold;
  background-color: var(--gray-10per);
  border-radius: 5px;
  padding: 5px;
  width: fit-content;
}

.cardWrapperContents {
  background-color: var(--gray-10per);
  padding: 10px;
  border-radius: 5px;
  font-size: 17px;
  word-break: keep-all;
  line-height: 25px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cardWrapperImages {
  display: flex;
  flex-direction: column;
  gap: 10px;
  li {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
