.container {
  background-color: var(--gray-20);
  height: 100%;
}

.skills {
  height: 100%;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  overflow: auto;
}

.item {
  width: 150px;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 30px;
}

.itemImage {
  border-radius: 10px;
  max-height: 100px;
  width: auto;
}

.itemTitle {
  font-size: 20px;
  font-weight: 600;
  margin-top: 15px;
}
